*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}




/********************************************
           Navbar-section-desigon
********************************************/

.first-section{
    /* position: absolute; */
    width: 100%;
    /* z-index: 9999;
    height: auto; */
}
 .first-section .container{
    padding: 16px 0px 16px 0px !important;
} 

.menu-design ul li a{
    color: #242f51;
    font-size: 16px;
}
.menu-right button{
    padding: 12px 32px;
    border: none;
    outline: none;
    background: #2500f9;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
}
.sticky{
    width: 100%;
    position: fixed;
    background-color: #fff;
    transition: .7s ease-in;
    z-index: 999999;
    padding: 0px;
}



/* *******************************************
           banner-section-desigon
********************************************/

.banner-section{
    width: 100%;
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

/* .backoverlay{
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
} */
.banner-left{
   width: 100%;
   height: 80vh;
   display: table-cell;
   vertical-align: middle;
   
} 
.banner-slogan{
    width: 100%;
}
.banner-slogan img{
    background-color: #feaa25;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.banner-slogan p{
    background: #e2eaed;
    display: inline-block;
    padding: 5px 60px 5px 45px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    font-size: 18px;
}
.banner-right img{
    width: 100%;
    padding-bottom: 65px;
}

.banner-title h1{
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 27px;
    color: #242f51;
}
.banner-title p{
    color: #616368;
    font-size: 18px;
}
.banner-bottom{
    width: 100%;
}
.banner-bottom button{
    padding: 12px 32px;
    border: none;
    outline: none;
    background: #2500f9;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
}
.banner-bottom a{
    color: #2500f9;
    margin-left: 32px;
}



/********************************************
           Slider-section-desigon
********************************************/
.slider-section{
    width: 100%;
    padding: 80px;
  
}

.slider-title{
    width: 100%;
}
.slider-title p{
    font-size: 16px;
    color: #616368;
    text-align: center;
    margin-bottom: 32px;
}
.banner-content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 102px;
}

.slider-section .owl-carousel .owl-dots  {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:1%;
    
}
.slider-section .owl-carousel .owl-nav .owl-next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #001D38 !important;
    font-size: 50px !important;
    font-weight: 200 !important;
    background:#FFE8C3 !important;
   
    height: 70px;
    width: 20px;
    line-height: 35px !important;
    /* border-radius: 50%  !important; */
    margin: 0;
}

.slider-section .owl-carousel .owl-nav .owl-prev
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #001D38!important;
    font-size: 50px !important;
    font-weight: 200 !important;
    background:#FFE8C3 !important;
   
    height: 70px;
    width: 20px;
    line-height: 35px !important;
    margin: 0;
    /* border-radius: 50%  !important; */
    
}

.slider-section .owl-carousel .owl-nav .owl-prev:hover,.banner-section .owl-carousel .owl-nav .owl-next:hover{
    background-color: #001D38 !important;
    border: none !important;
    color: #FFE8C3 !important;
}


.slider-section .owl-carousel .owl-nav .owl-prev {
    left: 0%;
    
    
}

.slider-section .owl-carousel .owl-nav .owl-next {
    right: 0%;
}





/* /********************************************
           Carousel content desigon
********************************************/
/* .slide-content{
    text-align: center;
    color: #fff !important;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 80vh;
    z-index: 999999;
    position: relative;
    font-family: "Poppins", sans-serif !important;
}
.r-up p{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
}

.reveiwer h6{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}


.reveiwer p{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.r-up img{
    height:42px; 
    width:42px;
    display: inline-flex;
    align-items: center;
}
.reveiwer img{
    height:42px; 
    width:42px;
    margin: 0 auto;
    margin-top: 40px;
} */














/********************************************
           Reveiw Owl Carousel desigon
********************************************/

/* .reveiw-section .owl-carousel {
    width: 100%;
    height: 80vh;
}

.slide {
    width: 100%;
    
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 29, 56, .5);
    
}

.slide-1 {
    background-image: url(../images/testmonial.png);
}

.slide-2 {
    background-image: url(../images/testmonial.png);
}

.slide-3 {
    background-image: url(../images/testmonial.png);
} */




/***************************************
reveiw section carousel design 
***************************************/


/* .reveiw-section .owl-carousel .owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1% !important;
    display: block !important;
    
}

.owl-dots span {
    width: 10px !important;
    height: 10px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}

.owl-nav button {
    border: 1px solid rgb(167, 167, 167) !important;
    outline: none !important;
}
.reveiw-section .owl-carousel .owl-nav .owl-next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 50px !important;
    font-weight: 200 !important;
    background:none !important;
   
    height: 50px;
    width: 50px;
    line-height: 35px !important;
    border-radius: 50%  !important;
    
}

.reveiw-section .owl-carousel .owl-nav .owl-prev
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 50px !important;
    font-weight: 200 !important;
    background:none !important;
   
    height: 50px;
    width: 50px;
    line-height: 35px !important;
    border-radius: 50%  !important;
    
}

.reveiw-section .owl-carousel .owl-nav .owl-prev:hover,.reveiw-section .owl-carousel .owl-nav .owl-next:hover{
    background-color: #001D38 !important;
    border: none !important;
}


.reveiw-section .owl-carousel .owl-nav .owl-prev {
    left: 5%;
    
    
}

.reveiw-section .owl-carousel .owl-nav .owl-next {
    right: 5%;
} */


